<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>printing</title>

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>
<body>
    <!-- Not Yet...Fuck -->
    <img src="static/image/qr.png" style="position: absolute; bottom: 0; right: 0; width: 10%; height: auto;">
    <img src="{{ path }}" style="position: absolute; width: 17%; height: auto;">
</body>
</html>
